
<!-- <div class="container-fluid">
  <nav class="sidebar" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header bkgnd">
        <h4>Records</h4>
      </div>
      <div class="colsm12" id="">
        <ul class="sideNav nav navbar">
          <li><a href="#">Home<span style="font-size:16px;" class="pull-right showopacity glyphicon glyphicon-home"></span></a></li>
          <li ><a href="#">Clients<span style="font-size:16px;" class="pull-right showopacity glyphicon glyphicon-th-list"></span></a></li>        
          <li ><a href="#">News<span style="font-size:16px;" class="pull-right showopacity glyphicon glyphicon-tags"></span></a></li>
        </ul>
      </div>
  </div>
</nav>
</div> -->


<nav class="navbar navbar-default header">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#myPage">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#myPage">HOME</a></li>
        <li><a href="#band">BAND</a></li>
        <li><a href="#tour">TOUR</a></li>
        <li><a href="#contact">CONTACT</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
    <div class="container">
      <div class="row">
         <div class="col-md-3">
           <p class="footer-text">MITALEN</p>
         </div>
        <div class="col-md-3 pull-right">
          <h4 class="text-center">Follow Us</h4>
              <ul class="social-network social-circle">
               <li><a href="#" class="icoFacebook" title="Facebook"><i class="glyphicon glyphicon-apple"></i></a></li>
               <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="	glyphicon glyphicon-thumbs-up"></i></a></li>
               <li><a href="#" class="icoFacebook" title="Facebook"><i class="glyphicon glyphicon-thumbs-down"></i></a></li>
               <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="	glyphicon glyphicon-heart-empty"></i></a></li>
               <li><a href="#" class="icoFacebook" title="Facebook"><i class="	glyphicon glyphicon-heart"></i></a></li>
              </ul>				
      </div>
      </div><hr>
    <div class="row">
      <div class="col-md-12 copy">
        <p class="text-center">&copy; Copyright 2019 - Company Name.  All rights reserved.</p>
      </div>
    </div>
    </div>
    </div>
  </footer>