<section id="home">
        <div class="container">
           <div class="row">
              <div class="col-md-8">
                 <p class="pull-right top-text">MITALENT</p>
                 <div class="col-md-12 contant-box">
                    <img src="../../assets/10.jpg" class="img-responsive img-height ">
                 </div>
                 <p class="center-text">Derek<br>Anderson</p>
                 <p class="center-text-p">BRITISH COMEDIAN</p>
                 <div class="col-md-3 vive-profile">
                    <div class="col-md-12">
                       <div class="col-md-8">
                          <p class="vive-text">viveprofile</p>
                       </div>
                       <div class="col-md-4 pull-right">
                          <iframe width="55px" height="50px" margin src="https://www.youtube.com/embed/8Ua2xoc6tRk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-4 side-box">
                 <img src="../../assets/9.jpg" class="img-responsive side-img"> 
              </div>
           </div>
        </div>
        <div class="cotainer-fluid">
           <nav class="" role="navigation">
              <div class="navbar-header navbar-header-center">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 </button>    
              </div>
              <div class="clearfix"></div>
              <div class="navbar-collapse collapse navbar-buttom">
                 <ul class="nav navbar-nav navbar-center">
                    <li><a href="#">Actor</a></li>
                    <li><a href="#about">Comedian</a></li>
                    <li><a href="#about">Model</a></li>
                    <li><a href="#contact">Musigian</a></li>
                 </ul>
              </div>
           </nav>
        </div>
        <div class="container img-contant-margin">
           <div class="row">
              <div class="col-md-12" >
                 <div class="hovereffect" style="width: 25%;">
                    <img class="img-responsive img-set" src="../../assets/6.jpg">
                    <div class="overlay">
                       <h2>MITALENT</h2>
                       <p><a href="#">Web Designer</a></p>
                    </div>
                 </div>
                 <div class="hovereffect" style="width: 25%;">
                    <img class="img-responsive img-set" src="../../assets/7.jpg">
                    <div class="overlay">
                       <h2>MITALENT</h2>
                       <p><a href="#">PHP developer</a></p>
                    </div>
                 </div>
                 <div class="hovereffect" style="width: 25%;">
                    <img class="img-responsive img-set" src="../../assets/8.jpg">
                    <div class="overlay">
                       <h2>MITALENT</h2>
                       <p><a href="#">IOS developer</a></p>
                    </div>
                 </div>
                 <div class="hovereffect" style="width: 25%;">
                    <img class="img-responsive img-set" src="../../assets/9.jpg">
                    <div class="overlay">
                       <h2>MITALENT</h2>
                       <p><a href="#">Android developer</a></p>
                    </div>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-md-12" >
                 <div class="hovereffect" style="width: 25%;">
                    <img class="img-responsive img-set" src="../../assets/5.jpg">
                    <div class="overlay">
                       <h2>MITALENT</h2>
                       <p><a href="#">Web Designer</a></p>
                    </div>
                 </div>
                 <div class="hovereffect" style="width: 25%;">
                    <img class="img-responsive img-set" src="../../assets/2.jpg">
                    <div class="overlay">
                       <h2>MITALENT</h2>
                       <p><a href="#">Graphic Design</a></p>
                    </div>
                 </div>
                 <div class="hovereffect" style="width: 25%;">
                    <img class="img-responsive img-set" src="../../assets/3.jpg">
                    <div class="overlay">
                       <h2>MITALENT</h2>
                       <p><a href="#">Crowl Draw designer</a></p>
                    </div>
                 </div>
                 <div class="hovereffect" style="width: 25%;">
                    <img class="img-responsive img-set" src="../../assets/4.jpg">
                    <div class="overlay">
                       <h2>MITALENT</h2>
                       <p><a href="#">Java developer</a></p>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="col-md-12">
                <button type="button" class="btn btn-info btn-center btn-color">Explore More</button>
        </div>

        <div class="container">
            <p class="col-md-offset-5 col-md-3 text-stories">Our Stories</p>
            <hr class="col-md-offset-5 col-md-1 hr-line">
        </div>

        <div class="container Stories-page-margin">
            <div class="row">
                <div class="col-md-4">
                    <img src="../../assets/1.jpg" class="img-responsive image-height">
                    <div class="col-md-12">
                        <p class="text-margin">5 Reasons To Keep Your <br> Beauty of Salon<br>Reserveation</p>
                        <p class="date">8 March 2020</p>
                    </div>
                </div>
                <div class="col-md-4">
                        <iframe width="98" height="80" src="https://www.youtube.com/embed/j6muwUGdvXw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="col-md-12">
                            <p class="text-margin-color">5 Reasons To Keep Your <br> Beauty of Salon<br>Reserveation</p>
                            <p class="date">8 March 2020</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                            <img src="../../assets/8.jpg" class="img-responsive image-height">
                            <div class="col-md-12">
                                <p class="text-margin">5 Reasons To Keep Your <br> Beauty of Salon<br>Reserveation</p>
                                <p class="date">8 March 2020</p>
                            </div>
                        </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8" style="margin-top:20px;">
                        <iframe width="100%" height="300" src="https://www.youtube.com/embed/XkHV7ROmIVA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <img src="../../assets/5.jpg" class="img-responsive shot-cut-img">
                    <img src="../../assets/10.jpg" class="img-responsive shot-img">
            
                </div>
                <div class="col-md-4" style="margin-top:20px;">
                    <img src="../../assets/7.jpg" class="img-responsive">
                    <P class="text-margin-top"> 5 Reasons To Keep Your Beauty of<br> Salon Reserveation</P>
                    <p class="date-time">8 March 2019 </p>
                </div>
            </div>
        </div>
       
        <div class="container">

        </div>

     </section>




   


  
  
 


     
 